// @import 'reset';
@import 'summary';
@import 'font';

h1 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color:#555;
}

.pdf-footer {
    margin-top: 10px;
    color:#555;

    .footer-pages-count {
        float: right;
    }
}

.pdf-header {
  display: none;
}
